{% extends 'base.html' %}
 
{% block content %}
	<div class ="container">{% include "base/nav.html" %}
	<div class="col-6"> {% include 'search/search_form.html' %}</div>
	<div class="row">
	{% if request.GET.search %}
	<div class="col-12 mb-3">
		Search for {{ request.GET.search }} {{ query }}
	</div>
	{% endif %}
	{% for obj in object_list %} 

		{% include 'products/snippet/cart.html'  with instance=obj %}
		<!-- {% cycle '<div class="here"></div>' '' '' %} -->
		{% if forloop.counter|divisibleby:3  %}
			<div class="clear"></div>
		{% endif %}
	{% endfor %}
	</div>	 </div>	 
{% endblock %}