 {% extends 'base.html' %}


 {% block content %}

		<div class="container">
			<div class="row">  {% include 'base/nav.html' with brand_name=brand %}
				<div class="col">
					<p>Conact page</p>
					<div class="col-sm-6 col-12">
						<form action="" method="POST" novalidate>
							{% csrf_token %}
							{{ form }}	
							<input type='submit' NAME="SUBMIT" cls='btn btn-default'> 
						</form>
  
<!--
					<form action="" method="POST">
						{% csrf_token %}
						<input type="text" class='from-control' name="full_name">
						<input type="text" class="from-control" name="email">
						<textarea name="content"></textarea>
						
					</form>
				</div>
				</div>
			</div>
-->
		</div>
{% endblock content %}